#Web Framework

fastapi
uvicorn
python-multipart

#Database

sqlalchemy
pymysql

#Image Processing & Feature Extraction

pandas
Pillow
requests
numpy
torch
torchvision

#Machine Learning & Clustering

scikit-learn
tqdm
scipy
openpyxl

#Web Scraping

selenium
webdriver-manager
beautifulsoup4